!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    :css
      #outlook a {padding:0;}
      body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0;}
      .ExternalClass {width:100%;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
      #backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}

      img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;}
      a img {border:none;}
      .image_fix {display:block;}

      p {margin: 1em 0;}

      h1, h2, h3, h4, h5, h6 {color: black !important;}

      h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}

      h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
        color: red !important;
       }

      h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
        color: purple !important;
      }

      table td {border-collapse: collapse;}

      table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }

      a {color: orange;}

      @media only screen and (max-device-width: 480px) {

        a[href^="tel"], a[href^="sms"] {
              text-decoration: none;
              color: black;
              pointer-events: none;
              cursor: default;
            }

        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
              text-decoration: default;
              color: orange !important;
              pointer-events: auto;
              cursor: default;
            }
      }

      @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

        a[href^="tel"], a[href^="sms"] {
              text-decoration: none;
              color: blue;
              pointer-events: none;
              cursor: default;
            }

        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
              text-decoration: default;
              color: orange !important;
              pointer-events: auto;
              cursor: default;
            }
      }

      @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      }

      @media only screen and (-webkit-device-pixel-ratio:.75){
      }
      @media only screen and (-webkit-device-pixel-ratio:1){
      }
      @media only screen and (-webkit-device-pixel-ratio:1.5){
      }

      img.thumbnail-40 {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 40px;
        max-height: 40px;
      }

    -# Targeting Windows Mobile
    /[if IEMobile 7]
      :css
    /[if gte mso 9]
      :css

  %body
    %table#backgroundTable{:border => '0', :cellpadding => '0', :cellspacing => '0'}
      %tr
        %td
          =yield
          -#
            / Tables are the most common way to format your email consistently. Set your table widths inside cells and in most cases reset cellpadding, cellspacing, and border to zero. Use nested tables as a way to space effectively in your message.
            %table{:align => 'center', :border => '0', :cellpadding => '0', :cellspacing => '0'}
              %tr
                %td{:valign => 'top', :width => '200'}
                %td{:valign => 'top', :width => '200'}
                %td{:valign => 'top', :width => '200'}
            / End example table
            / Yahoo Link color fix updated: Simply bring your link styling inline.
            %a{:href => 'http://htmlemailboilerplate.com', :style => 'color: orange; text-decoration: none;', :target => '_blank', :title => 'Styling Links'} Coloring Links appropriately
            / Gmail/Hotmail image display fix: Gmail and Hotmail unwantedly adds in an extra space below images when using non IE browsers.  This can be especially painful when you putting images on top of each other or putting back together an image you spliced for formatting reasons.  Either way, you can add the 'image_fix' class to remove that space below the image.  Make sure to set alignment (don't use float) on your images if you are placing them inline with text.
            %img.image_fix{:alt => 'Your alt text', :height => 'x', :src => 'full path to image', :title => 'Your title text', :width => 'x'}/
            / Step 2: Working with telephone numbers (including sms prompts).  Use the "mobile_link" class with a span tag to control what number links and what doesn't in mobile clients.
            %span.mobile_link 123-456-7890
            / End of wrapper table